body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.dashboard-title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  width: 100%; 
  margin-left: 730px;
  margin-top: -100px;
}


.navette-button {
  padding: 12px 20px;
  background-color: #4e54c8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.navette-button:hover {
  background-color: #3c40a0;
}

/* ancien */

.menu-button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #4e54c8; 
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 18px;
  font-weight: 600;
}

.menu-button:hover {
  background-color: #3c40a0; /* hover identique */
}
